<nav class="navbar navbar-expand-sm navbar-light" style="height: 55px; width: 100%; background-color: #27ae60;">
    <!-- Brand/logo -->
    <a class="navbar-brand">
      <p style="color: black;">Rimit</p>
    </a>
    
    <!-- Links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createStudent" style="color: black;">Create Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createClass" style="color: black;">Create Class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showStudent" style="color: black;">Show Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showClass" style="color: black;">Show Class</a>
        </li>
      </ul>
    </div>
    
  </nav>